/* css styles */

dl {
    display: block;
}

dt {
    width: auto;
}

@media (min-width: 768px) {
    dl {
        display: grid;
    }

    dt {
        grid-column-start: 1;
        width: 15em;
    }

    dd {
        grid-column-start: 2;
        margin-left: 2em;
    }
}

dd {
    margin-left: 2em;
}

.bottom-align-panel .quarto-layout-row {
    align-items: flex-end;
}

.bottom-align-panel .quarto-layout-cell {
    justify-content: flex-end !important;
}