/* css styles */

dl {
   display: grid;
}

dt {
   grid-column-start: 1;
   width: 10em;
}

@media (min-width: 768px) {
   dt {
      width: 15em;
   }
}

dd {
   grid-column-start: 2;
   margin-left: 2em;
}